<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 25px;">Hello I'm Muath</h1><br><br><br>
    <div style="display: flex; justify-content: space-around;">
        <div class="boxes" style="background-color: skyblue; padding: 100px; border: 3px solid black;"></div>
        <div class="boxes" style="background-color: skyblue; padding: 100px; border: 3px solid black;"></div>
        <div class="boxes" style="background-color: skyblue; padding: 100px; border: 3px solid black;"></div>
    </div>
</body>
</html>