<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
</head>

<body>
    <div class="navbar">
        <h1>Welcome, {{user.first_name}}!</h1>
        <a href="/logout" class="anchor">Logout</a>
    </div>
    <div class="container_book_info">
        <div class="content_left">
            <form action="/books/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="bookid" value="{{book.id}}"/>
                <h1>Title: <input type="text" name="book_title" value="{{book.title}}" class="textBoxes"></h1><br>
                <p>Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p><br>
                <p>Added on: {{book.created_at}}</p><br>
                <p>Last updated on: {{book.updated_at}}</p><br>
                <p>Description: <textarea name="book_desc" cols="35" rows="4" class="textBoxes">{{book.description}}</textarea></p><br>
                <button type="submit" class="btn">Update</button>
            </form><br>
            <form action="/books/delete" method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete_book" value="{{book.id}}">
                <input type="submit" value="Delete Book" class="btnR">
            </form><br>
            <a href="/books" class="anchorG">Go back</a>
        </div>
        <div class="content_right">
            <h1>Users Who Like This Book: </h1><br>
            <ul>
                {% for liked_user in book.users_who_like.all %}
                <li>{{liked_user.first_name}} {{liked_user.last_name}}
                    {% if user == liked_user %}
                    <a href="/unfav_book/{{book.id}}" class="anchor">(Unfavorite)</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul><br><br>
            {% if user in book.users_who_like.all %}
            <p><em>(You liked this book)</em></p>
            {% else %}
            <a href="/fav_book/{{book.id}}" class="anchorG">Add to Favorites</a>
            {% endif %}

        </div>
    </div>
</body>

</html>